<ion-content>
  <div class="cabecera">
    <ion-icon (click)="mostrarAlerta()" class="item-header" name="arrow-back-outline"></ion-icon>
    <ion-img class="icon-app" src="./../../../assets/logo.png"></ion-img>
    <h1 id="click-trigger">i</h1>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding"><p>Esta es la pantalla principal, desde aquí podrás acceder a todas las funcionalidades de foodfollow.</p></ion-content>
        </ng-template>
      </ion-popover>
  </div>
  <div class="texto-intro">
    <h5>Bienvenido {{nombreUsuario}}</h5>
  </div>
  <div class="tarjetas">
   <div (click)="accederFuncionalidad('captura-plato')" class="tarjeta1 tarjeta-opcion">
    <p>Captura</p>
    <ion-icon class="icon-option" name="camera-outline"></ion-icon>
   </div>
   <div (click)="accederFuncionalidad('planes')" class="tarjeta2 tarjeta-opcion">
    <p>Planes</p>
    <ion-icon class="icon-option" name="map-outline"></ion-icon>
   </div>
   <div (click)="accederFuncionalidad('trofeos')" class="tarjeta3 tarjeta-opcion">
    <p>Trofeos</p>
    <ion-icon class="icon-option" name="trophy-outline"></ion-icon>
   </div>
    <div (click)="accederFuncionalidad('informe')" class="tarjeta4 tarjeta-opcion">
      <p>Informe</p>
      <ion-icon class="icon-option" name="book-outline"></ion-icon>
     </div>
     <div (click)="accederFuncionalidad('estadisticas')" class="tarjeta5 tarjeta-opcion">
      <p>Estadísticas</p>
      <ion-icon class="icon-option" name="bar-chart-outline"></ion-icon>
     </div>
     <div (click)="accederFuncionalidad('ajustes')" class="tarjeta6 tarjeta-opcion">
      <p>Ajustes</p>
      <ion-icon class="icon-option" name="settings-outline"></ion-icon>
     </div>
  </div>
</ion-content>
