<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="cabecera">
    <ion-text class="nombre-usuario"> Hola NombreUsuario </ion-text>
    <ion-img class="icon-usuario" src="./../../../assets/icon/favicon.png"></ion-img>
  </div>
  <div class="texto-intro">
    <ion-text> Descubre NombreApp</ion-text>
  </div>
  <div class="tarjetas">
  <div class="tarjetas-izq">
   <div class="tarjeta1 tarjeta-opcion">
    <ion-icon></ion-icon>
    <p>Captura un plato</p>
   </div>
   <div class="tarjeta2 tarjeta-opcion">
    <ion-icon></ion-icon>
    <p>Captura un plato</p>
   </div>
   <div class="tarjeta3 tarjeta-opcion">
    <ion-icon></ion-icon>
    <p>Captura un plato</p>
   </div>
  </div>
  <div class="tarjetas-der">
    <div class="tarjeta4 tarjeta-opcion">
      <ion-icon></ion-icon>
      <p>Captura un plato</p>
     </div>
     <div class="tarjeta5 tarjeta-opcion">
      <ion-icon></ion-icon>
      <p>Captura un plato</p>
     </div>
     <div class="tarjeta6 tarjeta-opcion">
      <ion-icon></ion-icon>
      <p>Captura un plato</p>
     </div>
    </div>
  </div>

</ion-content>
