<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="contenedor">
    <ion-img class="logo" src="../../../assets/logo.png"></ion-img>
    <h3>foodfollow</h3>
    <p>¡Identifica lo que estás comiendo a partir de una sola imagen!</p>
  </div>
  <div class="botones">
    <button class="button1" (click)="registro()"><p>EMPIEZA AHORA</p></button>
    <button class="button2"(click)="login()"><p>YA TENGO UNA CUENTA</p></button>
  </div>
</ion-content>
