/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//LOADING
ion-loading.custom-loading {
  --background: var(--ion-color-grisaux);
  opacity: 0.9;
  --spinner-color: var(--ion-color-verdefosfo);
  font-family: 'Fredoka One', cursive;
  color: var(--ion-color-verdefosfo);
}

//ALERT
ion-alert.custom-alert {
  --backdrop-opacity: 0.2;
  --background: var(--ion-color-fondogeneral);
}

.custom-alert .alert-button-group {
  display: flex;
  justify-content: space-around;
}
.custom-alert .alert-title{
  color: var(--ion-color-blancotexto);
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-grisaux);
  color: var(--ion-color-verdefosfo);
  font-family: 'Fredoka One', cursive;
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.md .alert-input{
  font-family: 'Fredoka One', cursive;
  color: var(--ion-color-blancotexto);
}
.md .alert-input:focus{
  border-color: var(--ion-color-verdefosfo);
}

button.alert-button.alert-button-cancel {
  background-color: var(--ion-color-grisaux);
  color: var(--ion-color-verdefosfo);
  font-family: 'Fredoka One', cursive;
}

.md button.alert-button.alert-button-cancel {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

//TOAST
ion-toast.toast_exito {
  --background: var(--ion-color-fondogeneral);
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: var(--ion-color-verdefosfo);
  --end: right-to-left;
}
ion-toast.toast_exito::part(message) {
  font-family: 'Fredoka One', cursive;
}
ion-toast.toast_error {
  --background: var(--ion-color-fondogeneral);
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: var(--ion-color-rojoburguer);
  --end: right-to-left;
}
ion-toast.toast_error::part(message) {
  font-family: 'Fredoka One', cursive;
}
