ion-content{
  --padding-top: 8%;
}
.icon-app{
  width: 18%;
  height: auto;
}
.cabecera{
  display: flex;
  justify-content: space-between;
}
.ion-padding{
  font-family: 'Fredoka One', cursive;
  color: var(--ion-color-blancotexto);
  text-align: center;
}
ion-img{
  margin-right: 3%;
}
.icon-option{
  color: var(--ion-color-blancotexto);
  width: 100%;
  height: 30%;
}
.item-header{
  color: var(--ion-color-blancotexto);
  width: 12%;
  height: auto;
  margin-top: 12%;
  margin-left: 5%;
  cursor: pointer;
}
h1{
  font-family: 'Fredoka One', cursive;
  color: var(--ion-color-blancotexto);
  cursor: pointer;
  width: 10%;
  margin-top: 15%;
}
p, h4{
  font-family: 'Fredoka One', cursive;
  color: var(--ion-color-blancotexto);
}
.contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
}
.caras{
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 5%;
  margin-top: 8%;
}
.cara{
  color: var(--ion-color-grisaux);
  transform: scale(4);
}
.cara:hover{
  cursor: pointer;
}
.h4_nombre{
  margin-top: 15%;
}
.usuario_field, .peso_field{
  margin-top: 4%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: var(--ion-color-grisaux);
  width: 60%;
  height: 100%;
  color: var(--ion-color-blancotexto);
  font-family: 'Fredoka One', cursive;
  display: flex;
  align-items: center;
}
.usuario, .peso{
  background-color: var(--ion-color-grisaux);
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--ion-color-blancotexto);
  font-family: 'Fredoka One', cursive;
  outline: none;
  border: 0;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
}
.h4_peso{
  margin-top: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.boton{
  margin-top: 10%;
  border-radius: 14px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
  height: 9%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
}
.boton>p{
  font-size: 130%;
}
.cambiar_password{
  background-color: var(--ion-color-grisaux);
  margin-top: 17%;
}
.actualizar_usuario{
  background-color: var(--ion-color-verdefosfo);
}
.actualizar_usuario>p{
color: var(--ion-color-fondogeneral);
}
.conjunto_usuario, .conjunto_peso{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  margin-left: 12%;
}
.edit_icon{
  color: var(--ion-color-blancotexto);
  width: 12%;
  height: 80%;
  margin-top: 4%;
  margin-left: 1%;
}
.edit_icon:hover{
  cursor: pointer;
}
