<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<form>
		<div class="input-group">
			<ion-item>
				<ion-input type="email" placeholder="Email"></ion-input>
			</ion-item>
			<!-- <div *ngIf="(email.dirty || email.touched) && email.errors)" class="errors">
				<span *ngIf="email.errors?.required">Email is required</span>
				<span *ngIf="email.errors?.email">Email is invalid</span>
			</div> -->
			<ion-item>
				<ion-input type="password" placeholder="Password"></ion-input>
			</ion-item>
			<!-- <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
				<span *ngIf="password.errors?.required">Password is required</span>
				<span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
			</div> -->
		</div>
    <!-- [disabled]="!credentials.valid" -->
		<ion-button type="button" expand="block" color="tertiary">
			<ion-icon name="logo-google" slot="start"></ion-icon>
			Sign in with Google
		</ion-button>
    <ion-button type="button" expand="block" color="tertiary">
			<ion-icon name="logo-google" slot="start"></ion-icon>
			Regístrate
		</ion-button>
	</form>
</ion-content>
